/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: #202124;
  background: #f5f6f8;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
